<!DOCTYPE html>
<html>

<body>
    <div class="header">
        <h1>ChillFlix</h1>
    </div>
    <div>
        <app-search-video (selected)="videoId = null; videoId = $event; printsomething($event)"></app-search-video>
    </div><br />
    <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-2 col-xl-2 bd-sidebar"> <!-- MENU--> </div>
            <div class="col-12">
                <!--<app-play-list></app-play-list>-->
            </div>
        </div>
        <div class="col-12 col-md-8 col-xl-8 bd-content" *ngIf="videoId">
            <app-video-player [videoId]="videoId"></app-video-player>
        </div>
    </div>
</body>

</html>
